<p id="notice"><%= notice %></p>

<p>
	<h2><%= @tour.name %></h2>
	By <%= @tour.user %>
</p>

<br/>

<table>
	<tr>
		<%= render @tour.places%>
	</tr>
</table>

<h2>Add a place:</h2>
<%= render "places/form" %>

<%= link_to 'Back to list of tours', tours_path %>
