<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tour.name %>
</p>

<p>
  <b>User:</b>
  <%= @tour.user %>
</p>

<h2>Places</h2>
<%= render @tour.places%>

<h2>Add a place:</h2>
<%= render "places/form" %>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
